# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
NEXT_PUBLIC_SHOW_LOGGER="false"

# Twitter OAuth2 client id and secret
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""

# For scrapper
TWITTER_BEARER_TOKEN=""